<h1>ADD YOUR <br>JOB HERE</h1>
<div class="well">
  <form action="add-job" method="post">
    <div class="form-group">
      <label for="job-name">Name : </label>
      <input type="text" id="job-name" name="job-name">
    </div>
    <div class="form-group">
      <label for="job-description">Description : </label>
      <input type="text" id="job-description" name="job-description">
    </div>
    <div class="form-group">
      <label for="job-contact">Contact : </label>
      <input type="text" id="job-contact" name="job-contact">
    </div>
    <button type="submit">add jorb</button>
  </form>
</div>
